body{
    margin: auto;
    padding: 0;
    background-color: #c8c2b3;
}


.container_div{
   border: 10px;
   border-style:groove ;   
   border-color: rgb(43,41,41);
   padding-left: 1%;
   height: 750px;
   width: 700px;
   background-color: #c8c2b3;
   margin: 3% 0px 0% 0%;


}

select,
input{
    background-color: rgb(222, 222, 222);
    width: 500px;
    margin-top: 20px ;
    height: 30px;
    color:black;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    display: block;
}

select{
    margin-top: 2px
}

.check{
    color: rgb(255, 0, 0);
    font-size: 500px;
    width: 100px;
    height: 30px;
    margin-top: 20px ;
    color: black;
    display: inline-block;
}

.rodape_div{
    position: absolute;
    width: auto;
    height: auto;
}

.cancelar_btn,
.confirmar_btn{
    display: inline-block;
    margin-top: 5%;
    width: 150px;
    height: 50px;
    background-color: #b4c8b8;
    position: relative;
    font-size: x-large;
} 

.cancelar_btn{
background-color: #c8b4c4;
margin-left: 200px;
}

.confirmar_btn{
margin-left: 100px;

}

label{
    font-size: x-large;
    margin-top: 80px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}